<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chat</title>
        <script src="/static/js/jquery-3.6.3.min.js"></script>
        <script src="/static/js/socket.io.js"
                integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
                crossorigin="anonymous"></script>
    </head>
    <body>
        <input type="text" id="message_text" placeholder="Enter your message...">
        <button id="send_button">Send</button>

        <div id="response"></div>

        <script type="text/javascript" charset="utf-8">
            $(document).ready(function () {
                var socket = io('http://' + '127.0.0.1' + ':' + 5000+"/chat");  // 建立一个socket对象
                socket.on('response', function (msg) {  // 当触发响应时间, 自动执行把接收到的消息写在页面上
                    $('#response').text(msg);
                });
                $('#send_button').on('click', function () {  // 当点击发送消息按钮
                    socket.emit('message', $('#message_text').val()); // 发送消息, 类型(message, 内容)
                    $('#message_text').val('');  // 发送完成置空内容
                });
            });
        </script>
    </body>
</html>
