<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Parallax Scrolling Website</title>
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
        <header id="header">
            <a href="#" class="logo">Forest</a>
            <ul>
                <li><a href="#" class="active">主页</a></li>
                <li><a href="#">注册</a></li>
                <li><a href="#">智慧农业</a></li>
            </ul>
        </header>

        <Section>
            <h2 id="text">
                <span>尝试向下滑动</span>
            </h2>
            <!--img src="/static/images/down.png" alt="" width="20" height="20"-->
            <img src="/static/images/bird1.png"
                 id="bird1">
            <img src="/static/images/bird2.png"
                 id="bird2">
            <img src="/static/images/forest.png"
                 id="forest">

            <a href="#" id="btn">进入></a>

            <img src="/static/images/rocks.png"
                 id="rocks">
            <img src="/static/images/water.png"
                 id="water">
        </Section>

        <div class="sec">
            <h2>感谢您的阅览</h2>
            <p>
                植物病害的识别一直是植物保护领域内的重要研究方向之一。然而，常规的病害识别方法需要植物专家花费大量时间与精力，而技术上复杂的机器视觉方法在实际应用中也存在一些问题。随着人工智能技术的快速发展，越来越多的人们开始思考如何打造一种更快、更准确、更容易使用的植物病害识别系统，以服务于社会。为此，我们开发了一种基于
                Python Flask 和 PyTorch 技术的植物病害识别系统，旨在让这一重要的技术普及到大众身上。
                <br><br>
                介绍问题背景及意义。植物病害识别一直是植物保护领域内的重要问题，是保护农业生产、增加农民收益、保护生态系统的重要手段。现有的识别方法需要专业人员进行精细的观察，耗时费力，成本较高。因此，一个高效、低成本、易于使用的植物病害识别系统必不可少。
                <br><br>
                介绍系统开发的技术架构。据此，我们采用 Python Flask 和 PyTorch 技术进行开发。Python 是一种简单易学、功能强大的编程语言，Flask
                是一个轻量级的 Web 服务框架，而 PyTorch 是一个强大的机器学习框架。这些技术的使用让系统开发更加易于实现，同时使得系统运行效率高、准确率高。
                <br><br>
                介绍系统的工作流程。我们的系统建立了一个以 PyTorch
                为基础的深度神经网络模型，该模型的训练采用了大量数据进行优化，其识别准确率高达90%以上。在使用该系统时，用户需仅需用手机或电脑摄像头拍摄植物图片，并上传至系统进行自动识别，系统会根据图片信息反馈相应的识别结果，以便用户快速识别植物是否存在病害。
                <br><br>
                介绍系统的优势和创新点。相比于常规的植物病害识别方法，我们的系统具有更高的准确率、更快的识别速度和更低的成本。用户可以方便快捷地使用该系统获取病害结果，并根据结果进行相应的决策和治理。
                <br><br>
                展望未来发展方向和意义。我们相信，未来高新技术还会不断地涌现，未来植物病害识别系统将会更加简单高效、更加普及化，带给人们更多的实惠和方便。我们呼吁广大科技工作者为推动科技普及做出自己的贡献，同时也希望社会各界能够支持技术创新，为了构建更加智慧的社会，让科技更好地普惠于所有人。
            </p>
        </div>

        <footer>
            <a href="http://www.freepik.com">通过这一项目的实践，我们体验到了科技与生活之间的巨大联系，同时也证实了团队合作的重要性。在未来的发展中，我们将不断挖掘科技的潜力，在更多方面为普及科技做出自己的</a>
            <br><br>
        </footer>


        <script>
            let text = document.getElementById('text');
            let bird1 = document.getElementById('bird1');
            let bird2 = document.getElementById('bird2');
            let btn = document.getElementById('btn');
            let rocks = document.getElementById('rocks');
            let forest = document.getElementById('forest');
            let water = document.getElementById('water');
            let header = document.getElementById('header');

            window.addEventListener('scroll', function () {
                let value = window.scrollY;

                text.style.top = 50 + value * -.1 + '%';
                bird2.style.top = value * -1.5 + 'px';
                bird2.style.left = value * 2 + 'px';
                bird1.style.top = value * -1.5 + 'px';
                bird1.style.left = value * -5 + 'px';
                btn.style.marginTop = value * 1.5 + 'px';
                rocks.style.top = value * -.12 + 'px';
                forest.style.top = value * .25 + 'px';
                header.style.top = value * .5 + 'px';
            })
        </script>
    </body>
</html>
