<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <script src="/static/js/jquery-3.6.3.min.js"></script>
    </head>
    <body>
        <div class="container">
            <table class="table position-relative">
                <thead>
                    <tr>
                        <th scope="col">编号</th>
                        <th scope="col">名称</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <button type="button" class="btn btn-primary" id="menu5">发起请求</button>

            <nav aria-label="..." class="position-absolute top-50">
                <ul class="pagination" id="pageGroup">
                    <!--此处为页码-->
                </ul>
            </nav>
        </div>


        <script>
            function generateTableData(result) { // 生成表格数据
                let htmlDataStr = "" // 定义tbody内要防止的数据
                for (let res of result) {
                    htmlDataStr += `
                        <tr>
                            <td>${res.id}</td>
                            <td>${res.title}</td>
                        </tr>
                    `
                }
                tbody.html(htmlDataStr);
            }

            const tbody = $("tbody")
            tbody.html(  // 默认页面初始化时
                `
                    <tr>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                   `
            )
            const index = $("#index");
            const sendAjax = $("#menu5")
            let htmlPageNum = ""  // 放置页码
            let aTag = $(".page-link");  // 找到页码标签

            /* 点击菜单栏, 请求api1, 拿到页码数, 默认先拿第一页数据
            * 根据响应, 在页面产生页码
            * 根据用户点击页码, 请求api2拿到数据
            *
            */
            sendAjax.on("click", function () {
                let pageHtmlNum = ""
                let currentPageNum = 1
                let total = 0
                $.ajax({
                    url: `http://127.0.0.1:5000/pagination?page=1`,
                    method: "GET",
                    dataType: "json",
                    success: function (response) {
                        const p = response.pagination;
                        const result = response.result;
                        total=p.total;
                        generateTableData(result);

                        // 遍历出页码
                        for (let pNum = 2; pNum <= p.total; pNum++) {
                            pageHtmlNum += `
                                <li class="page-item">
                                    <a class="page-link page-num" href="#">${pNum}</a>
                                </li>
                            `
                        }
                        $("#pageGroup").html(
                            `
                                <li class="page-item">
                                    <a class="page-link" href="#" id="previous">Previous</a>
                                </li>
                                <li class="page-item" aria-current="page" id="index">
                                    <a class="page-link page-num active" href="#">1</a>
                                </li>
                                ${pageHtmlNum}
                                <li class="page-item" id="next">
                                    <a class="page-link" href="#" id="next">Next</a>
                                </li>
                            `
                        )

                        // 设置内部ajax
                        let pageLink = $(".page-num");
                        pageLink.on("click", function () {
                            pageLink.removeClass("active");
                            $(this).addClass("active");

                            $.ajax({
                                url: `http://127.0.0.1:5000/pagination?page=${$(this).text()}`,
                                method: "GET",
                                dataType: "json",
                                success: function (response) {
                                    const result = response.result;
                                    generateTableData(result);
                                    currentPageNum = response.pagination.page;
                                }
                            })
                        })

                        $("#previous").on("click", function () {
                            if(currentPageNum > 1){  // 如果当前页 大于1 就可以往后/递减
                                $.ajax({
                                url: `http://127.0.0.1:5000/pagination?page=${currentPageNum - 1}`,
                                method: "GET",
                                dataType: "json",
                                success: function (response) {
                                    const result = response.result;
                                    generateTableData(result)
                                    currentPageNum = response.pagination.page;  // 更新当前页码

                                        // 查找具有“active”类的当前活动按钮
                                        let activeLink = $(".page-num.active");

                                        // 查找当前活动按钮的前一个分页按钮
                                        let prevLink = activeLink.parent().prev().find(".page-num");

                                        // 应用“active”类于前一个分页按钮
                                        if (prevLink.length > 0) {
                                            activeLink.removeClass("active");
                                            prevLink.addClass("active");
                                        }
                                }
                            })
                            }
                        })


                        $("#next").on("click", function () {
                            if(currentPageNum<total) {  // 如果当前页小于 最大页数 则可以往前加
                                $.ajax({
                                url: `http://127.0.0.1:5000/pagination?page=${currentPageNum + 1}`,
                                method: "GET",
                                dataType: "json",
                                success: function (response) {
                                    const result = response.result;
                                    generateTableData(result)

                                    // 查找具有“active”类的当前活动按钮
                                    let activeLink = $(".page-num.active");

                                    // 查找当前活动按钮的前一个分页按钮
                                    let prevLink = activeLink.parent().next().find(".page-num");

                                    // 应用“active”类于前一个分页按钮
                                    if (prevLink.length > 0) {
                                        activeLink.removeClass("active");
                                        prevLink.addClass("active");
                                    }
                                }
                            })
                            }
                        })

                    }
                })
            })


        </script>
    </body>
</html>
